<!-- Modal content--> 
<div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Share Url</h4>
            </div>
            <div class="modal-body">
                    <button type="button" onclick="window.open('https://www.google.com','_blank');" class="btn btn-primary">Install chrome-Extension</button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>